{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Changer mon mot de passe - {% endblock %}

{% block fos_user_content %}
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h2 class="page-title">Changer mon mot de passe</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-l2 mx-auto grid-margin">
            <div class="card">
                <div class="card-body">
                    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
