{% extends 'base.html.twig' %}

{% block title %}Indicateurs des commerciaux - {% endblock %}

{% block filtres %}
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commercial</button>
            <div class="dropdown-menu" aria-labelledby="dropdownsorting">
                {% for commercial in commerciaux %}
                    <a class="dropdown-item" href="#" data-id="{{ commercial.id }}" >{{ commercial.nom }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
