{% extends 'base.html.twig' %}

{% block title %}Hello KpiCommerciauxController!{% endblock %}

{% block filtres %}
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commercial</button>
            <div class="dropdown-menu" aria-labelledby="dropdownsorting">
                <a class="dropdown-item" href="#">Jean Bidulle</a>
                <a class="dropdown-item" href="#">Mike Lo</a>
                <a class="dropdown-item" href="#">Paul Na</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
