{% extends 'base.html.twig' %}

{% block title %}Indicateurs des commerciaux - {% endblock %}

{% block filtres %}
    <div class="filter-wrapper">
        <div class="dropdown toolbar-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Commercial</button>
            <div id="list_commerciaux" class="dropdown-menu" aria-labelledby="dropdownsorting">
                {% for commercial in commerciaux %}
                    <a class="dropdown-item" href="#" data-id="{{ commercial.id }}" >{{ commercial.nom }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="singleCommercial">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h3 class="mb-0 font-weight-semibold">32 451 €</h3>
                                        <h5 class="mb-0 font-weight-medium text-primary">Vente</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h3 class="mb-0 font-weight-semibold">100</h3>
                                        <h5 class="mb-0 font-weight-medium text-primary">Commande</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                                <div class="d-flex">
                                    <div class="wrapper">
                                        <h3 class="mb-0 font-weight-semibold">30%</h3>
                                        <h5 class="mb-0 font-weight-medium text-primary">Ratio Devis/Commandes</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0"></h4>
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dateSorter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">This Month</button>
                                <div class="dropdown-menu" aria-labelledby="dateSorter">
                                    <div class="dropdown-item" id="market-overview_1">Daily</div>
                                    <div class="dropdown-item" id="market-overview_2">Weekly</div>
                                    <div class="dropdown-item" id="market-overview_3">Monthly</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end">
                            <h3 class="mb-0 font-weight-semibold">$36,2531.00</h3>
                            <p class="mb-0 font-weight-medium mr-2 ml-2 mb-1">USD</p>
                            <p class="mb-0 text-success font-weight-semibold mb-1">(+1.37%)</p>
                        </div>
                        <canvas class="mt-4" height="100" id="market-overview-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Top Performer</h4>
                        <div class="d-flex mt-3 py-2 border-bottom">
                            <img class="img-sm rounded-circle" src="../assets/images/faces/face3.jpg" alt="profile image">
                            <div class="wrapper ml-2">
                                <p class="mb-n1 font-weight-semibold">Ray Douglas</p>
                                <small>162543</small>
                            </div>
                            <small class="text-muted ml-auto">1 Hours ago</small>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                            <span class="img-sm rounded-circle bg-warning text-white text-avatar">OH</span>
                            <div class="wrapper ml-2">
                                <p class="mb-n1 font-weight-semibold">Ora Hill</p>
                                <small>162543</small>
                            </div>
                            <small class="text-muted ml-auto">4 Hours ago</small>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                            <img class="img-sm rounded-circle" src="../assets/images/faces/face4.jpg" alt="profile image">
                            <div class="wrapper ml-2">
                                <p class="mb-n1 font-weight-semibold">Brian Dean</p>
                                <small>162543</small>
                            </div>
                            <small class="text-muted ml-auto">4 Hours ago</small>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                            <img class="img-sm rounded-circle" src="../assets/images/faces/face4.jpg" alt="profile image">
                            <div class="wrapper ml-2">
                                <p class="mb-n1 font-weight-semibold">Brian Dean</p>
                                <small>162543</small>
                            </div>
                            <small class="text-muted ml-auto">4 Hours ago</small>
                        </div>
                        <div class="d-flex pt-2">
                            <span class="img-sm rounded-circle bg-success text-white text-avatar">OB</span>
                            <div class="wrapper ml-2">
                                <p class="mb-n1 font-weight-semibold">Olive Bridges</p>
                                <small>162543</small>
                            </div>
                            <small class="text-muted ml-auto">7 Hours ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <div class="wrapper">
                            <h4 class="card-title mb-0">Net Profit Margin</h4>
                            <p>Started collecting data from February 2019</p>
                            <div class="mb-4" id="net-profit-legend"></div>
                        </div>
                        <canvas class="my-auto mx-auto" height="250" id="net-profit"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title mb-4">Website Audience Metrics</h1>
                        <div class="row mt-12">
                            <div class="col-6">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon-holder bg-primary text-white py-1 px-3 rounded mr-2">
                                        <i class="icon ion-logo-buffer icon-sm"></i>
                                    </div>
                                    <h2 class="font-weight-semibold mb-0">3,605</h2>
                                </div>
                                <p>Since last week</p>
                                <p><span class="font-weight-medium">0.51%</span> (30 days)</p>
                            </div>
                            <div class="col-6">
                                <div class="mt-n3 ml-auto" id="dashboard-guage-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            var commercial = $('#list_commerciaux .dropdown-item').first();
            var text = commercial.text();
            $('#dropdownsorting').text(text);

            $.ajax({
                url: '{{ path('get_commercial_stats') }}',
                method: 'POST',
                data: {
                    'id_commercial' : commercial.data('id')
                },
                success: function (result) {
                    $('#singleCommercial').empty().append(result);
                }
            })

        });

        $('#list_commerciaux .dropdown-item').click(function (){
            var text = $(this).text();
            var id = $(this).data('id');

            $('#dropdownsorting').text(text);

            $.ajax({
                url: '{{ path('get_commercial_stats') }}',
                method: 'POST',
                data: {
                    'id_commercial' : id
                },
                success: function (result) {
                    $('#singleCommercial').empty().append(result);
                }
            })
        });
    </script>
{% endblock %}
