{% extends "@FOSUser/layout.html.twig" %}

{% block page_title %}Réinitialiser mon mot de passe{% endblock %}
{% block title %}Réinitialiser mon mot de passe - {% endblock %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="auto-form-wrapper">
                    <div class="card">
                        <div class="card-body">
                            {% include "@FOSUser/Resetting/reset_content.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
