{% extends 'base.html.twig' %}

{% block page_title %}Authentification requise{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 card">
            <div class="card-body">
                <p>L'accès au dashboard requiert une connexion.</p>
                <p>Cliquez sur le lien suivant pour vous connecter</p>
                <a href="{{ path('fos_user_security_login') }}">
                    <button type="button" class="btn btn-success mr-2">Se connecter</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}