{% extends 'base.html.twig' %}

{% block title %}Hello KpiGenerauxController!{% endblock %}

{% block filtres %}
    <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button>
        <button type="button" class="btn btn-secondary">2019</button>
        <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
